export JAVA_HOME=/usr/local/java

export HADOOP_INSTALL=/usr/local/hadoop
export HADOOP_CONF_DIR=${HADOOP_INSTALL}/etc/hadoop

export SPARK_HOME=/usr/local/spark
export SPARK_MASTER_HOST={{spark_master}}
export SPARK_MASTER_WEBUI_PORT={{spark_master_webui_port}}

